# 2018년 5월 9일 4번째 수업
## 파이썬 자료형 + 제어문

In [1]:
# 변수에 어떤 종류의 자료도 저장할 수 있다.
x = 10
print("x =", x)

x = 10

In [2]:
y = 3.14
print("y = ", y)

y =  3.14

In [4]:
이름 = "이정우"
print("내 이름은", 이름)

내 이름은 이정우

In [5]:
'이정우'

'이정우'

In [6]:
"I'm a boy."

"I'm a boy."

In [9]:
123 + 123

246

In [10]:
"123" + "123"

'123123'

In [12]:
# 문자열 -> 정수형으로 인식 int()
t = input("정수를 입력하세요: ")
x = int(t)
t = input("정수를 입력하세요: ")
y = int(t)
print(x+y)

246

In [13]:
# 문자열로 인식 str()
str(123) + str(123)

'123123'

In [3]:
print("나는 현재", str(21), "살이다.")

나는 현재 21 살이다.

In [4]:
print("원주율은" + str(3.14) + "입니다.")

원주율은3.14입니다.

In [5]:
메시지 = "축하해!"
print(메시지 * 3)

축하해!축하해!축하해!

In [ ]:
# 문자열에 변수값을 포함.
price = input("얼마에요?")
print("상품의 가격은 {0}원입니다.".format(price))

In [8]:
name = input("이름이 뭐에요?")
print("당신의 이름은 {0} 입니다.".format(name))

당신의 이름은 이정우 입니다.

In [10]:
# 개별 문자 추출 = 인덱싱
s = input("이름이 뭔가요?")
s[0]
s[1]+s[2]

'정우'

In [11]:
# 일정 범위의 문자 추출 = 슬라이싱
s[1:2]

'정'

In [12]:
s[1:3]

'정우'

In [2]:
s = input("당신의 이름은??")
print("당신의 성은 {0}이고, 이름은 {1}입니다.".format(s[0],s[1:3]))

당신의 성은 이이고, 이름은 정우입니다.

In [4]:
print("안녕하세요?")
name = input("이름이 뭐에요?")

print("만나서 반가워요. {0}씨".format(name))
print("이름의 길이가" + str(len(name)) + "글자이네요.")

age = int(input("나이는 어떻게 되세요?"))
print("내년에는", str(age+1),"이시네요.")

안녕하세요?
만나서 반가워요. 이정우씨
이름의 길이가3글자이네요.
내년에는 35 이시네요.

In [5]:
과목 = ["국어", "영어", "수학", "과학", "사회"]

In [6]:
과목

['국어', '영어', '수학', '과학', '사회']

In [7]:
과목[2]

'수학'

In [9]:
과목[2:4]

['수학', '과학']

In [10]:
과목

['국어', '영어', '수학', '과학', '사회']

In [11]:
과목.append("체육")

In [12]:
과목

['국어', '영어', '수학', '과학', '사회', '체육']

In [14]:
친구목록 = []

친구이름 = input("친한 친구 이름 써봐요.")
친구목록.append(친구이름)
친구이름 = input("친한 친구 이름 써봐요.")
친구목록.append(친구이름)
친구이름 = input("친한 친구 이름 써봐요.")
친구목록.append(친구이름)

친구목록

['김민관', '임철현', '모성훈']

In [15]:
# 비교 연산자
100 > 1

True

In [16]:
33 < 33

False

In [17]:
"이정우" == "이정우"

True

In [18]:
"이정우" != "이지태"

True

In [21]:
score = int(input("점수 몇점?"))
if score >= 70:
    print("합격!")
    print("축하해!")
else:
    print("불합격!")
    print("재응시하세요")

불합격!
재응시하세요

In [22]:
나이 = int(input("너 몇살?"))
if 나이 >= 19:
    print("입장!")
else:
    print("더 커서 와")

입장!